header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#142850;
    height: 60px;
    color: white;
    div{height:  100%;
        &>img{height: 90%}
        &:nth-child(2){
            font-size: 50px;
        }
        &:nth-child(3){display: flex;align-items: center; img{height: 65%}}
    }
}